spring:
  profiles:
    active: dev
    include: secret
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: ENC(caq/+9P8gm2xwvxAc6bryGylgJEX19QHmuL3umll+NyiG7ggOoug5uWyGDTQzBd1YG4YpRK/PVvYFt2zHM0bYrLSPIg4kIo3fpJFJnlWD3bzjY1UXSuTBuhLM3r4JgfuRlsfAb9tWG7E+KSIe1HQWedUAT4vbT9IYxskAIZVkCFqWIS8v3EChQ==)
    username: ENC(feciTQh5rLQ2dmTa1Z/A9g==)
    password: ENC(lZ30TkUte7l7K/5PAiHp3g==)

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: false
        format_sql: false
        use_sql_comments: false
        default_batch_fetch_size: 200
        default_lazy_load_no_trans: true
    defer-datasource-initialization: true

  data:
    redis:
      host: 127.0.0.1
      port: 6379
      database: 0
  sql:
    init:
      mode: always

decorator:
  datasource:
    p6spy:
      enable-logging: true
custom:
  cookie:
    tokenValiditySeconds: '#{60 * 60 * 24 * 3}'
    key: "12345678"


jasypt:
  encryptor:
    bean: jasyptStringEncryptor
