<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
<div class="container my-3">
    <div class="row">
        <div class="col-md-4" th:each="q, loop: ${questionList}">
            <div class="card mb-3">
                <div class="card-header bg-dark text-white">
                    <h5 class="card-title">
                        <a th:text="${loop.count}" th:href="@{|/question/detail/${q.id}|}" class="text-white"></a> 번호
                    </h5>
                </div>
                <div class="card-body d-flex justify-content-between">
                    <h5 class="card-title">
                        <a th:text="${q.subject}" th:href="@{|/question/detail/${q.id}|}"></a>
                    </h5>
                    <p class="card-text">
                        <small th:text="${#temporals.format(q.createDate, 'yy-MM-dd HH:mm')}" class="text-right"></small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
