<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://java.sun.com/JSP/Page"
      layout:decorate="~{layout/layout.html}">
<head>

</head>
<body layout:fragment="content" class="flex flex-col items-center justify-center bg-white font-sans antialiased">
<div class="container my-3">
    <table class="table">
        <htead></htead>
    </table>

    <div class="flex justify-end mb-3">
        <a th:href="@{/question/create}" class="btn btn-outline-primary">질문등록</a>
    </div>
    <div class="grid grid-cols-1 gap-4">
        <div class="col col-md-10" th:each="q, loop: ${paging}">
            <div class="p-4 my-3 bg-base-100 rounded-lg border border-black">
                <div class="flex justify-between items-center">
                    <h5 class="text-gray-800 md:break-words md:break-all">
                        <a th:text="${loop.count}" th:href="@{|/question/detail/${q.id}|}" class="text-primary-500 mr-2"></a>
                        <a th:text="${q.subject}" th:href="@{|/question/detail/${q.id}|}" class="text-gray-800"></a>
                    </h5>
                    <p class="text-gray-500">
                        <small th:text="${#temporals.format(q.createDate, 'yy-MM-dd HH:mm')}"></small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>





