<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://java.sun.com/JSP/Page"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout.html}">
<head>
</head>


<body layout:fragment="content" class="flex flex-col items-center justify-center">
<div class="container my-3">
    <h2 class="border-b-2 py-2 text-dark" th:text="${question.subject}"></h2>
    <div class="card my-3 bg-gray-100 shadow-md">
        <div class="card-body">
            <div class="card-text text-dark whitespace-pre-line" th:text="${question.content}"></div>
            <div class="flex justify-end">
                <div class="bg-primary-500 text-white px-2 py-1 text-start">
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.member != null and #authentication.getPrincipal().getUsername() == question.member.userId}"
                   th:text="수정"></a>
            </div>
            </div>
        </div>
    </div>
    <h5 class="border-b-2 my-3 py-2 text-dark"
        th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <div class="card my-3 bg-gray-100 shadow-md" th:each="answer : ${question.answerList}">
        <div class="card-body border-t border-black">
            <div class="card-text text-dark whitespace-pre-line" th:text="${answer.content}"></div>
            <div class="flex justify-end">
                <div class="bg-primary-500 text-white px-2 py-1 text-start">
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 답변 작성 -->
        <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
            <div class="bg-red-100 px-4 py-3 border border-red-400 rounded-lg mb-4" role="alert" th:if="${#fields.hasAnyErrors()}">
                <div th:each="err : ${#fields.allErrors()}" th:text="${err}" class="text-red-700" />
            </div>

            <textarea required maxlength="200" placeholder="200자 이하" th:field="*{content}" rows="10" class="form-control resize-none border rounded-lg p-2 bg-gray-100 w-full"></textarea>
            <input type="submit" value="답변등록" class="btn bg-blue-600 text-white px-5 py-2 rounded-lg my-2">
        </form>
    </div>
</body>
</html>



