<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://java.sun.com/JSP/Page"
      layout:decorate="~{layout/layout.html}">
<head>
</head>


<body layout:fragment="content" class="flex flex-col items-center justify-center">
<div class="container my-3">
    <h2 class="border-b-2 py-2 text-dark" th:text="${question.subject}"></h2>
    <div class="card my-3 bg-gray-100 shadow-md">
        <div class="card-body">
            <div class="card-text text-dark whitespace-pre-line" th:text="${question.content}"></div>
            <div class="flex justify-end">
                <div class="bg-primary-500 text-white px-2 py-1 text-start">
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="border-b-2 my-3 py-2 text-dark"
        th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <div class="card my-3 bg-gray-100 shadow-md" th:each="answer : ${question.answerList}">
        <div class="card-body border-t border-black">
            <div class="card-text text-dark whitespace-pre-line" th:text="${answer.content}"></div>
            <div class="flex justify-end">
                <div class="bg-primary-500 text-white px-2 py-1 text-start">
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 답변 작성 -->
    <form th:action="@{|/answer/create/${question.id}|}" method="post" class="my-3">
        <textarea name="content" rows="10" class="form-control resize-none w-full p-2 shadow-md border border-gray-300 rounded-lg"></textarea>
        <input type="submit" value="답변등록" class="btn btn-outline-primary my-2">
    </form>
</div>
</body>
</html>


