<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>myPage</title>
</head>

<body layout:fragment="content" class="flex-col flex items-center justify-center">
<main class="shadow-form pt-2">
    <script>
        const initialFormValues = {};
        let form = null;
        let formInputs = null;

        let isConfirmed = false;

        window.addEventListener('load', function (e) {
            form = document.getElementById('myPageEditForm');
            formInputs = form.getElementsByTagName('input');

            for (let i = 0; i < formInputs.length; i++) {
                const input = formInputs[i];
                initialFormValues[input.name] = input.value;
            }
        });

        window.addEventListener('beforeunload', function (event) {
            if (hasUnsavedChanges() && !isConfirmed) {

                event.preventDefault();
                event.returnValue = '변경 사항이 저장되지 않습니다. 페이지를 떠나시겠습니까?';
            }
        });

        function hasUnsavedChanges() {
            const currentFormValues = {};

            for (let i = 0; i < formInputs.length; i++) {
                const input = formInputs[i];
                currentFormValues[input.name] = input.value;
            }

            for (const key in currentFormValues) {
                if (currentFormValues.hasOwnProperty(key)) {
                    if (currentFormValues[key] !== initialFormValues[key]) {
                        return true;
                    }
                }
            }
            return false;
        }

        function validateEmail(email) {
            const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

            return emailPattern.test(email);
        }

        function submitEditForm() {
            if (confirm('변경 사항을 저장하시겠습니까?')) {

                form.nickname.value = form.nickname.value.trim();

                if (form.nickname.value.length === 0) {
                    alert('닉네임을 입력해주세요.');
                    form.nickname.focus();
                    return;
                }

                form.email.value = form.email.value.trim();

                if (form.email.value.length === 0) {
                    alert('이메일을 입력해주세요.');
                    form.email.focus();
                    return;
                } else if (!validateEmail(form.email.value)) {
                    alert('올바른 형식의 이메일 주소를 입력해주세요.');
                    form.email.focus();
                    return;
                }
                isConfirmed = true;

                form.submit();
            }
        }
    </script>

    <form id="myPageEditForm" th:action="@{/member/editMyPage}" method="POST" >

        <table class="table" style="width: 500px">
            <tr>
                <th>이름</th>
                <td colspan="2"><input name="name" type="text" th:value="${member.getName()}" class="input input-bordered input-secondary w-full max-w-xs"></td>
            </tr>
            <tr>
                <th>닉네임</th>
                <td colspan="2"><input name="nickname" type="text" th:value="${member.getNickname()}" class="input input-bordered input-secondary w-full max-w-xs"></td>
            </tr>

            <tr>
                <th>이메일</th>
                <td colspan="2"><input name="email" type="text" th:value="${member.getEmail()}" class="input input-bordered input-secondary w-full max-w-xs"></td>
            </tr>

            <tr>
                <th>키</th>
                <td colspan="2"><input name="height" type="number" th:value="${member.getHeight()}" class="input input-bordered input-secondary w-full max-w-xs"></td>
            </tr>

            <tr>
                <th>나이</th>
                <td colspan="2"><input name="age" type="number" th:value="${member.getAge()}" class="input input-bordered input-secondary w-full max-w-xs"></td>
            </tr>

            <tr>
                <th>지역</th>
                <td colspan="2">
                    <select id="locate" name="locate" class="select select-secondary w-full max-w-xs" th:value="${member.locate}">
                        <option th:value="${member.getLocate()}">-지역을 선택해주세요-</option>
                        <option value="서울">서울특별시</option>
                        <option value="인천">인천광역시</option>
                        <option value="대전">대전광역시</option>
                        <option value="대구">대구광역시</option>
                        <option value="부산">부산광역시</option>
                        <option value="광주">광주광역시</option>
                        <option value="울산">울산광역시</option>
                        <option value="경기도">경기도</option>
                        <option value="충북">충청북도</option>
                        <option value="충남">충청남도</option>
                        <option value="강원도">강원도</option>
                        <option value="전북">전라북도</option>
                        <option value="전남">전라남도</option>
                        <option value="경북">경상북도</option>
                        <option value="경남">경상남도</option>
                    </select>
                </td>

            </tr>

            <tr>
                <th>성별</th>
                <td colspan="2">
                    <select id="gender" name="gender" class="select select-secondary w-full max-w-xs" th:value="${member.getGender()}">
                        <option value=" "></option>
                        <option value="male">남자</option>
                        <option value="female">여자</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>mbti</th>
                <td colspan="2">
                    <select id="mbti" name="mbti" class="select select-secondary w-full max-w-xs">
                        <option th:value="${member.getMbti()}">-MBTI를 선택해주세요-</option>
                        <option value="ENFP">ENFP</option>
                        <option value="ENFJ">ENFJ</option>
                        <option value="ENTP">ENTP</option>
                        <option value="ENTJ">ENTJ</option>
                        <option value="ESFP">ESFP</option>
                        <option value="ESFJ">ESFJ</option>
                        <option value="ESTP">ESTP</option>
                        <option value="ENTJ">ENTJ</option>
                        <option value="INFP">INFP</option>
                        <option value="INFJ">INFJ</option>
                        <option value="INTP">INTP</option>
                        <option value="INTJ">INTJ</option>
                        <option value="ISFP">ISFP</option>
                        <option value="ISFJ">ISFJ</option>
                        <option value="ISTP">ISTP</option>
                        <option value="INTJ">INTJ</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>취미</th>
                <td colspan="2"><input name="hobby" type="text" th:value="${member.getHobby()}" class="input input-bordered input-secondary w-full max-w-xs" ></td>
            </tr>
            <tr>
                <th>자기소개</th>
                <td colspan="2"><input name="introduce" type="text" th:value="${member.getHobby()}" class="input input-bordered input-secondary w-full max-w-xs" ></td>
            </tr>
        </table>
    </form>
    <div class="flex justify-end gap-1">
        <button class="btn btn-secondary" onclick="submitEditForm()">적용하기</button>
        <button class="btn btn-secondary" onclick="
    if (hasUnsavedChanges()) {
      if (!confirm('변경 사항이 저장되지 않습니다. 취소하시겠습니까?')) {
        return;
      }
    }
    window.location.href = 'http://localhost:8080/member/me';
    ">취소
        </button>
    </div>

</main>
</body>
</html>