<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">

    <title>join</title>
    <style>
        h4.mb-3 {
            font-size: 2em; /* 텍스트 크기 조정 */
        }

    </style>
</head>
<body layout:fragment="content" class="flex-col flex items-center justify-center">
<main>
    <script>
        function MemberDto__submit(form) {

            form.name.value = form.name.value.trim();

            if (form.name.value.length === 0) {
                toastWarning('이름을 입력해주세요.');
                form.name.focus();
                console.log()
                return;
            }

            form.username.value = form.username.value.trim();

            if (form.username.value.length === 0) {
                toastWarning('아이디를 입력해주세요.');
                form.username.focus();
                return;
            }

            if (form.username.value.length < 4) {
                toastWarning('아이디를 4자 이상 입력해주세요.');
                form.username.focus();
                return;
            }

            form.password.value = form.password.value.trim();

            if (form.password.value.length === 0) {
                toastWarning('비밀번호를 입력해주세요.');
                form.password.focus();
                return;
            }

            if (form.password.value.length < 4) {
                toastWarning('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            if (form.password_check.value !== form.password.value) {
                toastWarning('비밀번호를 확인해주세요.');
                form.password_check.value = '';
                form.password_check.focus();
                return;
            }

            form.nickname.value = form.nickname.value.trim();

            if (form.nickname.value.length === 0) {
                toastWarning('닉네임을 입력해주세요.');
                form.nickname.focus();
                return;
            }

            form.email.value = form.email.value.trim();

            if (form.email.value.length === 0) {
                toastWarning('이메일을 입력해주세요.');
                form.email.focus();
                return;
            } else if (!validateEmail(form.email.value)) {
                toastWarning('올바른 형식의 이메일 주소를 입력해주세요.');
                form.email.focus();
                return;
            }

            form.age.value = form.age.value.trim();

            if (form.age.value.length === 0) {
                toastWarning('나이를 입력해주세요.');
                form.age.focus();
                return;
            }

            form.height.value = form.height.value.trim();
            if (form.height.value.length === 0) {
                toastWarning('키를 입력해주세요.');
                form.height.focus();
                return;
            }

            if (form.gender.value === '') {
                toastWarning('성별을 선택해주세요.');
                form.gender.focus();
                return;
            }

            if (form.locate.value === '') {
                toastWarning('사는 지역을 선택해주세요.');
                form.locate.focus();
                return;
            }

            if (form.mbti.value === '') {
                toastWarning('mbti를 선택해주세요.');
                form.mbti.focus();
                return;
            }

            form.hobby.value = form.hobby.value.trim();

            if (form.hobby.value.length === 0) {
                toastWarning('취미를 입력해주세요.');
                form.hobby.focus();
                return;
            }

            form.introduce.value = form.introduce.value.trim();

            if (form.introduce.value.length === 0) {
                toastWarning('자기소개를 입력해주세요.');
                form.introduce.focus();
                return;
            }


            if (!form.personalInfoAgreement.checked) {
                toastWarning('개인정보 수집 및 활용 약관에 동의해주세요.')
                form.personalInfoAgreement.focus();
                return;
            }

            function validateEmail(email) {
                var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

                return emailPattern.test(email);
            }

            form.submit();

            console.log(form)
        }
    </script>

    <div class="container">
        <div class="input-form-backgroud row">
            <div class="input-form col-md-12 mx-auto">
                <h4 class="mb-3">회원가입</h4>

                <form th:action="@{/member/join}" method="POST" class="flex flex-col justify-center" enctype="multipart/form-data"
                      onsubmit="MemberDto__submit(this); return false;">

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="name">이름</label>
                            <input id="name" name="name" type="text"
                                   class="input input-bordered input-secondary w-full max-w-xl">

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="username">아이디</label>
                            <input type="text" class="input input-bordered input-secondary w-full max-w-xl"
                                   name="username" id="username">

                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="password">비밀번호</label>
                        <input class="input input-bordered input-secondary w-full max-w-xl" id="password"
                               name="password" type="password">

                    </div>
                    <div class="mb-3">
                        <label for="password_check">비밀번호 확인</label>
                        <input class="input input-bordered input-secondary w-full max-w-xl" id="password_check"
                               name="password_check" type="password">

                    </div>


                    
                    <div class="mb-3">
                        <label for="email">이메일</label>
                        <input type="email" class="input input-bordered input-secondary w-full max-w-xl" id="email"
                               placeholder="you@example.com" name = "email">


                    </div>
                    <div class="mb-3">
                        <label for="nickname">닉네임</label>
                        <input type="text" class="input input-bordered input-secondary w-full max-w-xl" id="nickname" name = "nickname">

                    </div>


                <div class="mb-3">
                    <label for="age">나이</label>
                    <input type="number" class="input input-bordered input-secondary w-full max-w-xl" id="age"
                           name="age">

                </div>
                <div class="mb-3">
                    <label for="height">키</label>
                    <input type="number" class="input input-bordered input-secondary w-full max-w-xl" id="height"
                           name="height">

                </div>
                <div class="mb-3">
                    <label for="gender">성별</label>
                    <select id="gender" name="gender" class="input input-bordered input-secondary w-full max-w-xl">
                        <option value="">-성별을 선택해주세요-</option>
                        <option value="male">남자</option>
                        <option value="female">여자</option>
                    </select>

                </div>
                <div class="mb-3">
                    <label for="hobby">취미</label>
                    <input type="text" class="input input-bordered input-secondary w-full max-w-xl" id="hobby"
                           name="hobby">

                </div>

                    <div class="mb-3">
                        <label for="mbti">MBTI</label>
                        <select id="mbti" name="mbti"
                                class="custom-select input input-bordered input-secondary w-full max-w-xl">
                            <option value="">-MBTI를 선택해주세요-</option>
                            <option value="ENFP">ENFP</option>
                            <option value="ENFJ">ENFJ</option>
                            <option value="ENTP">ENTP</option>
                            <option value="ENTJ">ENTJ</option>
                            <option value="ESFP">ESFP</option>
                            <option value="ESFJ">ESFJ</option>
                            <option value="ESTP">ESTP</option>
                            <option value="ENTJ">ENTJ</option>
                            <option value="INFP">INFP</option>
                            <option value="INFJ">INFJ</option>
                            <option value="INTP">INTP</option>
                            <option value="INTJ">INTJ</option>
                            <option value="ISFP">ISFP</option>
                            <option value="ISFJ">ISFJ</option>
                            <option value="ISTP">ISTP</option>
                            <option value="INTJ">INTJ</option>
                        </select>

                    </div>
                    <div class="mb-3">
                        <label for="locate">지역</label>
                        <select id="locate" name="locate"
                                class="custom-select input input-bordered input-secondary w-full max-w-xl">
                            <option value="">-지역을 선택해주세요-</option>
                            <option value="서울">서울특별시</option>
                            <option value="인천">인천광역시</option>
                            <option value="대전">대전광역시</option>
                            <option value="대구">대구광역시</option>
                            <option value="부산">부산광역시</option>
                            <option value="광주">광주광역시</option>
                            <option value="울산">울산광역시</option>
                            <option value="경기도">경기도</option>
                            <option value="충북">충청북도</option>
                            <option value="충남">충청남도</option>
                            <option value="강원도">강원도</option>
                            <option value="전북">전라북도</option>
                            <option value="전남">전라남도</option>
                            <option value="경북">경상북도</option>
                            <option value="경남">경상남도</option>
                        </select>
                    </div>
                   
                    <tr class="gap-5">
                        <td class="text-right pr-4">
                            <label for="profileImage">프로필사진</label>
                        </td>
                        <td>
                            <input id="profileImage" name="profileImage" type="file" class="file-input file-input-bordered file-input-secondary w-full max-w-xs">
                        </td>
                    </tr>
                    <hr class="mb-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="personalInfoAgreement" name="personalInfoAgreement">
                        <label class="custom-control-label" for="personalInfoAgreement">개인정보 수집 및 활용 동의</label>
                    </div>
                    <div class="mb-4"></div>
                    <button class="btn btn-secondary btn-lg btn-block" type="submit">가입하기</button>

                </form>

            </div>

        </div>
    </div>
</main>
</body>
</html>