<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>join</title>
</head>
<body>
<main layout:fragment="content" class="flex-col flex items-center justify-center">
    <script>
        function MemberDto__submit(form) {

            form.username.value = form.username.value.trim();

            if (form.username.value.length === 0) {
                alert('이름을 입력해주세요.');
                form.username.focus();
                console.log()
                return;
            }

            form.userId.value = form.userId.value.trim();

            if (form.userId.value.length === 0) {
                alert('아이디를 입력해주세요.');
                form.userId.focus();
                return;
            }

            if (form.userId.value.length < 4) {
                alert('아이디를 4자 이상 입력해주세요.');
                form.userId.focus();
                return;
            }

            form.password.value = form.password.value.trim();

            if (form.password.value.length === 0) {
                alert('비밀번호를 입력해주세요.');
                form.password.focus();
                return;
            }

            if (form.password.value.length < 4) {
                alert('비밀번호를 4자 이상 입력해주세요.');
                form.password.focus();
                return;
            }

            if (form.password_check.value !== form.password.value) {
                alert('비밀번호를 확인해주세요.');
                form.password_check.value = '';
                form.password_check.focus();
                return;
            }

            form.nickname.value = form.nickname.value.trim();

            if (form.nickname.value.length === 0) {
                alert('닉네임을 입력해주세요.');
                form.nickname.focus();
                return;
            }

            form.email.value = form.email.value.trim();

            if (form.email.value.length === 0) {
                alert('이메일을 입력해주세요.');
                form.email.focus();
                return;
            } else if (!validateEmail(form.email.value)) {
                alert('올바른 형식의 이메일 주소를 입력해주세요.');
                form.email.focus();
                return;
            }

            form.age.value = form.age.value.trim();

            if (form.age.value.length === 0) {
                alert('나이를 입력해주세요.');
                form.age.focus();
                return;
            }

            form.height.value = form.height.value.trim();
            if (form.height.value.length === 0) {
                alert('키를 입력해주세요.');
                form.height.focus();
                return;
            }

            if (form.gender.value === '') {
                alert('성별을 선택해주세요.');
                form.gender.focus();
                return;
            }

            if (form.locate.value === '') {
                alert('사는 지역을 선택해주세요.');
                form.locate.focus();
                return;
            }

            if (form.mbti.value === '') {
                alert('mbti를 선택해주세요.');
                form.mbti.focus();
                return;
            }

            form.hobby.value = form.hobby.value.trim();

            if (form.hobby.value.length === 0) {
                alert('취미를 입력해주세요.');
                form.hobby.focus();
                return;
            }

            form.introduce.value = form.introduce.value.trim();

            if (form.introduce.value.length === 0) {
                alert('취미를 입력해주세요.');
                form.introduce.focus();
                return;
            }


            if (!form.personalInfoAgreement.checked) {
                alert('개인정보 수집 및 활용 약관에 동의해주세요.')
                form.personalInfoAgreement.focus();
                return;
            }

            function validateEmail(email) {
                var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

                return emailPattern.test(email);
            }

            form.submit();

            console.log(form)
        }
    </script>

    <h1>회원가입</h1>
    <hr>
    <form th:action="@{/member/join}" method="POST" class="flex flex-col justify-center" enctype="multipart/form-data" onsubmit="MemberDto__submit(this); return false;">
        <table class="">
            <tr class="gap-5">
                <td class="text-right pr-4">
                    <label for="name">이름</label>
                </td>
                <td>
                    <input id="name" name="name" type="text" class="border-2 rounded-md px-2">
                </td>
            </tr>

            <tr class="gap-5">
                <td class="text-right pr-4">
                    <label for="username">아이디</label>
                </td>
                <td>
                    <input id="username" name="username" type="text" class="border-2 rounded-md px-2">
                </td>
            </tr>

            <tr class="gap-5">
                <td class="text-right pr-4">
                    <label for="password">비밀번호</label>
                </td>
                <td>
                    <input id="password" name="password" type="password" class="border-2 rounded-md px-2">
                </td>
            </tr>

            <tr class="gap-5">
                <td class="text-right pr-4">
                    <label for="password_check">비밀번호 확인</label>
                </td>
                <td>
                    <input id="password_check" name="password_check" type="password" class="border-2 rounded-md px-2">
                </td>
            </tr>

            <tr class="gap-5">
                <td class="text-right pr-4">
                    <label for="nickname">닉네임</label>
                </td>
                <td>
                    <input id="nickname" name="nickname" type="text" class="border-2 rounded-md px-2">
                </td>
            </tr>

            <tr class="gap-5">
                <td class="text-right pr-4">
                    <label for="email">이메일</label>
                </td>
                <td>
                    <input id="email" name="email" type="text" class="border-2 rounded-md px-2">
                </td>
            </tr>

            <tr class="gap-5">
                <td class="text-right pr-4">
                    <label for="age">나이</label>
                </td>
                <td>
                    <input id="age" name="age" type="number" class="border-2 rounded-md px-2">
                </td>
            </tr>

            <tr class="gap-5">
                <td class="text-right pr-4">
                    <label for="height">키</label>
                </td>
                <td>
                    <input id="height" name="height" type="number" class="border-2 rounded-md px-2">
                </td>
            </tr>

            <tr class="gap-5">
                <td class="text-right pr-4">
                    <label for="gender">성별</label>
                </td>
                <td>
                    <select id="gender" name="gender" class="border-2 rounded-md px-2">
                        <option value="">-성별을 선택해주세요-</option>
                        <option value="male">남자</option>
                        <option value="female">여자</option>
                    </select>
                </td>
            </tr>

            <tr class="gap-5">
                <td class="text-right pr-4">
                    <label for="hobby">취미</label>
                </td>
                <td>
                    <input id="hobby" name="hobby" type="text" class="border-2 rounded-md px-2">
                </td>
            </tr>


            <tr class="gap-5">
                <td class="text-right pr-4">
                    <label for="mbti">MBTI</label>
                </td>
                <td>
                    <select id="mbti" name="mbti" class="border-2 rounded-md px-2">
                        <option value="">-MBTI를 선택해주세요-</option>
                        <option value="ENFP">ENFP</option>
                        <option value="ENFJ">ENFJ</option>
                        <option value="ENTP">ENTP</option>
                        <option value="ENTJ">ENTJ</option>
                        <option value="ESFP">ESFP</option>
                        <option value="ESFJ">ESFJ</option>
                        <option value="ESTP">ESTP</option>
                        <option value="ENTJ">ENTJ</option>
                        <option value="INFP">INFP</option>
                        <option value="INFJ">INFJ</option>
                        <option value="INTP">INTP</option>
                        <option value="INTJ">INTJ</option>
                        <option value="ISFP">ISFP</option>
                        <option value="ISFJ">ISFJ</option>
                        <option value="ISTP">ISTP</option>
                        <option value="INTJ">INTJ</option>
                    </select>
                </td>
            </tr>

            <tr class="gap-5">
                <td class="text-right pr-4">
                    <label for="locate">지역</label>
                </td>
                <td>
                    <select id="locate" name="locate" class="border-2 rounded-md px-2">
                        <option value="">-지역을 선택해주세요-</option>
                        <option value="서울">서울특별시</option>
                        <option value="인천">인천광역시</option>
                        <option value="대전">대전광역시</option>
                        <option value="대구">대구광역시</option>
                        <option value="부산">부산광역시</option>
                        <option value="광주">광주광역시</option>
                        <option value="울산">울산광역시</option>
                        <option value="경기도">경기도</option>
                        <option value="충북">충청북도</option>
                        <option value="충남">충청남도</option>
                        <option value="강원도">강원도</option>
                        <option value="전북">전라북도</option>
                        <option value="전남">전라남도</option>
                        <option value="경북">경상북도</option>
                        <option value="경남">경상남도</option>
                    </select>
                </td>
            </tr>

            <tr class="gap-5">
                <td class="text-right pr-4">
                    <label for="introduce">자기소개</label>
                </td>
                <td>
                    <input id="introduce" name="introduce" type="text" class="border-2 rounded-md px-2">
                </td>
            </tr>

            <tr class="gap-5">
                <td class="text-right pr-4">
                    <label for="profileImage">프로필사진</label>
                </td>
                <td>
                    <input id="profileImage" name="profileImage" type="file" class="file-input file-input-bordered file-input-primary w-full max-w-xs">
                </td>
            </tr>


        </table>

        <div>
            <input type="checkbox" id="personalInfoAgreement" name="personalInfoAgreement">
            <label for="personalInfoAgreement">개인정보 수집 및 활용 동의</label>
        </div>

        <button type="submit" class="btn">회원가입</button>
    </form>
</main>
</body>
</html>