<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>어울리는 멤버를 추천해드립니다.</title>
</head>


<div class="flex-grow flex items-center justify-center" layout:fragment="content">
    <div class="shadow-form max-w-2xl w-full px-4">
        <h1 class="text-3xl font-bold mb-4 text-center">어울리는 멤버 리스트</h1>

        <div class="text-center" th:unless="${!#lists.isEmpty(mbtiForMember)}">
            <div class="text-gray-500 text-lg my-8">
                <i class="far fa-face-laugh text-2xl"></i> 당신과 어울리는 멤버는 존재하지 않습니다.
            </div>
        </div>

        <th:block th:each="member : ${mbtiForMember}">
            <div class="flex items-center mb-2">
                <ul>
                    <li class="text-xl" th:text="${member.getName()}"></li>
                </ul>
                <form method="post" th:action="@{|/notification/alarm/${member.getId()}|}">
                    <button type="submit">채팅하기</button>
                </form>
            </div>
        </th:block>
        <div class="flex justify-end mt-4">
            <a class="text-black-500 hover:underline text-sm font-bold px-2 py-1" href="/">메인화면으로 돌아가기</a>
        </div>
    </div>
</div>
