<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://java.sun.com/JSP/Page"
      layout:decorate="~{layout/layout.html}">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/DaisyUI/1.18.1/full.css" integrity="sha512-8pigbmxc9MsxWxAEkz9QeaTctEv/ghC1J+GnfKE5zPvx9Rjw+9s/UF78V+Rcis7F/3u2b57Vn4MMG4YYKoLzJw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body layout:fragment="content" class="flex flex-col items-center justify-center">
<div class="container my-3">
    <div class="flex my-3 w-full justify-between">
        <form th:action="@{/mbti/question/list}" method="get">
            <div class="input-group">
                <input type="text" class="form-control" name="kw" placeholder="검색어" th:value="${param.kw}">
                <button type="submit" class="btn btn-outline-secondary">찾기</button>
            </div>
        </form>

        <!-- 추가된 정렬 필터 코드와 MBTI 필터 코드 부분 -->
        <form th:action="@{/mbti/question/list}" method="get" class="w-1/2" id="filterForm">
            <div class="flex justify-end items-center">
                <label for="sortSelect" class="me-2"></label>
                <select name="sort" class="form-select me-2" id="sortSelect">
                    <option value="">기본 정렬</option>
                    <option value="latest">날짜 최신순</option>
                    <option value="popular">조회수 높은 순</option>
                    <option value="least_popular">조회수 낮은 순</option>
                </select>

                <select name="filterMbti" class="form-select" id="mbtiSelect">
                    <option value="">전체 MBTI</option>
                    <option value="INFJ">INFJ</option>
                    <option value="INFP">INFP</option>
                    <option value="INTJ">INTJ</option>
                    <option value="INTP">INTP</option>
                    <option value="ENFJ">ENFJ</option>
                    <option value="ENFP">ENFP</option>
                    <option value="ENTJ">ENTJ</option>
                    <option value="ENTP">ENTP</option>
                    <option value="ISFJ">ISFJ</option>
                    <option value="ISFP">ISFP</option>
                    <option value="ISTJ">ISTJ</option>
                    <option value="ISTP">ISTP</option>
                    <option value="ESFJ">ESFJ</option>
                    <option value="ESFP">ESFP</option>
                    <option value="ESTJ">ESTJ</option>
                    <option value="ESTP">ESTP</option>
                </select>
                <button type="submit" class="btn btn-black ms-2 ms-2">적용</button>
            </div>
        </form>
    </div>
    <table class="table w-full">
        <thead class="bg-primary-500 text-white">
        <tr>
            <th class="w-1/6 text-center">번호</th>
            <th class="w-4/6">제목</th>
            <th class="w-1/6">글쓴이</th>
            <th class="w-1/6">작성일시</th>
            <th class="w-1/6">MBTI</th>
            <th class="w-1/6">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="q, loop: ${paging}">
            <td class="w-1/6 text-center" th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></td>
            <td class="w-4/6">
                <a th:text="${q.subject}" th:href="@{|/mbti/question/detail/${q.id}|}" class="text-primary-600"></a>
                <span class="text-danger small ms-2" th:if="${#lists.size(q.answerList) > 0}">답변 갯수:</span>
                <span class="text-danger small ms-2" th:if="${#lists.size(q.answerList) > 0}" th:text="${#lists.size(q.answerList)}"></span>
            </td>
            <td class="w-1/6 text-gray-500">
                <small th:text="${q.member.username}"></small>
            </td>
            <td class="w-1/6 text-gray-500">
                <small th:text="${#temporals.format(q.createDate, 'yyyy-MM-dd HH:mm')}"></small>
            </td>
            <!-- 추가된 MBTI 셀 -->
            <td class="w-1/6 text-gray-500">
                <small th:text="${q.mbti}"></small>
            </td>
            <td class="w-1/6" th:text="${q.view}"></td>
        </tr>
        </tbody>
    </table>
    <div class="flex justify-end mb-3">
        <a th:href="@{/mbti/question/create}" class="btn btn-outline-primary">질문 등록하기</a>
    </div>
    <nav th:if="${!paging.isEmpty()}" class="w-full max-w-lg mx-auto flex items-center justify-center">
        <ul class="pagination justify-content-center list-none flex">
            <li class="page-item bg-base-100 rounded-lg border border-primary-500" th:classappend="${paging.number == 0} ? 'disabled'">
                <a class="page-link px-4 py-2 text-primary-500" th:href="@{|/mbti/question/list?page=0|}">
                    <span>&laquo;</span>
                </a>
            </li>
            <li class="page-item bg-base-100 rounded-lg border border-primary-500" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link px-4 py-2 text-primary-500" th:href="@{|/mbti/question/list?page=${paging.number - 1}|}">이전</a>
            </li>
            <li class="page-item bg-base-100 rounded-lg border border-primary-500 mx-2" th:classappend="${paging.number == page} ? 'active'"
                th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number - 5 and page <= paging.number + 5}">
                <a class="page-link px-4 py-2 text-primary-500" th:href="@{|/mbti/question/list?page=${page}|}" th:text="${page}"></a>
            </li>
            <li class="page-item bg-base-100 rounded-lg border border-primary-500" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link px-4 py-2 text-primary-500" th:href="@{|/mbti/question/list?page=${paging.number + 1}|}">다음</a>
            </li>
            <li class="page-item bg-base-100 rounded-lg border border-primary-500" th:classappend="${paging.number == paging.totalPages - 1} ? 'disabled'">
                <a class="page-link px-4 py-2 text-primary-500" th:href="@{|/mbti/question/list?page=${paging.totalPages - 1}|}">
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
