<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.17/tailwind.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.4.0/dist/full.css" rel="stylesheet"/>
</head>
<body>
<div class="container mx-auto mt-10 px-4" layout:fragment="content">

    <h5 class="my-5 text-xl font-semibold border-b-2 pb-2">질문등록</h5>

    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" th:action
          th:object="${mbtiQuestionForm}">
        <div class="bg-red-100 px-4 py-3 border border-red-400 rounded-lg mb-4" role="alert"
             th:if="${#fields.hasAnyErrors()}">
            <div class="text-red-700" th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="subject">제목:</label>
            <input autocomplete="off" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" maxlength="100" placeholder="제목(100자 이하)" required
                   th:field="*{subject}"
                   type="text">
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="content">내용:</label>
            <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" maxlength="200" placeholder="내용(200자 이하)"
                      required
                      rows="5" th:field="*{content}"></textarea>
        </div>
        <div class="mb-3">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="mbti">MBTI 유형 선택:</label>
            <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="mbti" name="mbti"
                    required>
                <option value="">선택하세요</option>
                <option value="ISTJ">ISTJ</option>
                <option value="ISFJ">ISFJ</option>
                <option value="INFJ">INFJ</option>
                <option value="INTJ">INTJ</option>
                <option value="ISTP">ISTP</option>
                <option value="ISFP">ISFP</option>
                <option value="INFP">INFP</option>
                <option value="INTP">INTP</option>
                <option value="ESTP">ESTP</option>
                <option value="ESFP">ESFP</option>
                <option value="ENFP">ENFP</option>
                <option value="ENTP">ENTP</option>
                <option value="ESTJ">ESTJ</option>
                <option value="ESFJ">ESFJ</option>
                <option value="ENFJ">ENFJ</option>
                <option value="ENTJ">ENTJ</option>
            </select>
        </div>
        <div class="text-right">
            <input class="btn bg-blue-600 text-white px-5 py-2 rounded-lg my-2" type="submit" value="저장하기">
        </div>
    </form>
</div>
</body>
</html>
